body {
    margin: 0px;
    padding: 0px;
    background: #00152b;
}

.hartsArticle {
    float: right;
    margin-right: 100px;
}

.hartsArticle img {
    width: 30px;
    margin: 20px 5px;
}

main {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}


main h1 {
    color: #fff;
    text-align: center;
    margin: 40px auto;
}

main .header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 50px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 8px;
    flex-wrap: wrap;
}

main .header button,
p {
    width: 33%;
    height: 100%;
    color: #fff;
    min-width: 220px;
}

main .header button {
    line-height: 1;
    border-radius: 0px;
}

main .header p {
    background: rgba(0, 105, 217, 0.5);
    text-align: center;
    line-height: 3;
}

main .boxes {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .boxes .box {
    width: 32%;
    height: 0px;
    background: steelblue;
    border-radius: 8px;
    margin-bottom: 2%;
    transition: 1s;
}

.Modes {
    width:90%;
    margin:10px auto;
    display: flex;
    justify-content: space-between;
}

.Modes button {
    width: 49%;
    transition: 0.4s;
}

.Modes button:first-child {
    opacity: 0.4;
}

@media screen and (max-width:800px) {
    main .header {
        height: auto;
        overflow: unset;
    }

    main {
        width: 90%;
    }

    h1 {
        font-size: 25px;
    }

    main .header {
        justify-content: center;
    }

    main .header button,
    p {
        border-radius: 8px;
        width: 100%;
    }

    main .header p {
        margin-top: 20px;
    }

    .hartsArticle {
        margin: 40px;
    }
}